<div class="relative w-full">
  <div
    (click)="toggleDropdown()"
    tabindex="0"
    (keydown)="onTriggerKeyDown($event)"
    class="flex items-center justify-between w-full px-4 py-2.5 text-sm font-medium text-gray-700 bg-white border rounded-lg cursor-pointer border-gray-300 hover:border-tree-500 focus:ring-2 focus:ring-tree-400 focus:outline-none"
  >
    <span>
      {{ selectedItem ? selectedItem[displayProperty] : placeholder }}
    </span>
    <i-lucide [img]="ChevronDown" class="w-5 h-5 text-gray-400"></i-lucide>
  </div>

  @if (isOpen) {
  <div
    class="absolute left-0 z-50 w-full mt-2 bg-white border border-gray-200 rounded-lg shadow-lg max-h-64 overflow-hidden"
  >
    <div
      class="sticky top-0 bg-white border-b border-gray-200 p-2 flex gap-2 items-center"
    >
      <input
        #searchInput
        type="text"
        [(ngModel)]="searchTerm"
        (input)="filterItems()"
        (keydown)="onSearchKeyDown($event)"
        placeholder="Search..."
        (click)="$event.stopPropagation()"
        class="flex-1 px-3 py-2 text-sm text-gray-700 bg-gray-50 border rounded-md border-gray-300 focus:border-tree-500 focus:ring-tree-400 focus:outline-none"
      />

      @if (showAddButton) {
      <button
        type="button"
        (click)="onAddNew($event)"
        class="flex flex-col items-center justify-center w-10 h-10 rounded-lg bg-gray-100 hover:bg-gray-200 transition-colors cursor-pointer shadow-sm"
      >
        <i-lucide [img]="Plus" class="w-5 h-5 text-gray-700"></i-lucide>
        <!-- <span class="text-[11px] text-gray-600 mt-0.5">Add</span> -->
      </button>
      }
    </div>

    <ul class="max-h-52 overflow-auto">
      <li
        *ngFor="let item of filteredItems; let i = index; trackBy: trackByValue"
        (click)="selectItem(item)"
        class="px-4 py-2 text-sm text-gray-700 cursor-pointer hover:bg-gray-500 hover:text-white transition-colors"
        [class.bg-gray-200]="i === highlightedIndex"
      >
        {{ item[displayProperty] }}
      </li>

      @if (filteredItems.length === 0 && searchTerm && searchTerm.length > 2) {
      <li class="px-4 py-2 text-sm text-gray-400 text-center">
        No results found
      </li>
      }
    </ul>
  </div>
  }
</div>
