@if (control?.touched && control?.invalid) {
<div class="text-red-600 text-sm mt-1 font-bold">
  @if (errors?.['required']) {
  <div>{{ fieldName }} is required!</div>
  } @if (errors?.['min']) {
  <div>{{ fieldName }} must be minimum {{ errors?.['min']?.min }}!</div>
  } @if (errors?.['max']) {
  <div>{{ fieldName }} must be maximum {{ errors?.['max']?.max }}!</div>
  } @if (errors?.['minlength'] && minLength !== null) {
  <div>{{ fieldName }} must be at least {{ minLength }} characters!</div>
  } @if (errors?.['maxlength'] && maxLength !== null) {
  <div>{{ fieldName }} must be at most {{ maxLength }} characters!</div>
  } @if (errors?.['email']) {
  <div>Please enter a valid email address!</div>
  } @if (errors?.['invalidPhone']) {
  <div>Please enter a valid phone number!</div>
  } @if (errors?.['invalidTruckNumber']) {
  <div>Please enter a valid Truck Number (e.g., MH12AB1234).</div>
  } @if (errors?.['invalidAadhaar']) {
  <div>
    Enter a valid 12-digit Aadhaar number (should not start with 0 or 1).
  </div>
  } @if (errors?.['pattern']) {
  <div>
    {{ patternMessage || (fieldName + ' contains invalid characters!') }}
  </div>
  }
</div>
}
