node_modules/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
*.pid
*.seed
*.pid.lock

dist/
build/
.cache/
.temp/

coverage/
.nyc_output/

Thumbs.db
.DS_Store
Icon?
.idea/
.vscode/

*.tmp
*.swp
*.swo

docker/*

.pids
logs
pids
*.pid

/src/generated/prisma
