<div
  class="flex items-center justify-between px-4 py-3 bg-white border-t border-gray-200 sm:px-6"
>
  <div class="flex justify-between flex-1 sm:hidden">
    <button
      (click)="onPageChange(currentPage() - 1)"
      [disabled]="currentPage() === 1"
      class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50 disabled:opacity-50 disabled:cursor-not-allowed"
    >
      Previous
    </button>
    <button
      (click)="onPageChange(currentPage() + 1)"
      [disabled]="currentPage() === totalPages()"
      class="relative inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50 disabled:opacity-50 disabled:cursor-not-allowed"
    >
      Next
    </button>
  </div>
  <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700">
        Showing
        <span class="font-medium">{{ startItem() }}</span>
        to
        <span class="font-medium">{{ endItem() }}</span>
        of
        <span class="font-medium">{{ total() }}</span>
        results
      </p>
    </div>
    <div>
      <nav
        class="relative z-0 inline-flex -space-x-px rounded-md shadow-sm"
        aria-label="Pagination"
      >
        <button
          (click)="onPageChange(currentPage() - 1)"
          [disabled]="currentPage() === 1"
          class="relative inline-flex cursor-pointer items-center px-2 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-l-md hover:bg-gray-50 disabled:opacity-50 disabled:cursor-not-allowed"
        >
          <lucide-icon [img]="ChevronLeftIcon" [size]="20"></lucide-icon>
        </button>

        @for (page of getPageNumbers(); track page) { @if (page === '...') {
        <span
          class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300"
        >
          ...
        </span>
        } @else {
        <button
          (click)="onPageChange(page)"
          [class]="
            page === currentPage()
              ? 'relative inline-flex cursor-pointer items-center px-4 py-2 text-sm font-medium text-white bg-blue-600 border border-blue-600 hover:bg-blue-700'
              : 'relative inline-flex items-center cursor-pointer px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 hover:bg-gray-50'
          "
        >
          {{ page }}
        </button>
        } }

        <button
          (click)="onPageChange(currentPage() + 1)"
          [disabled]="currentPage() === totalPages()"
          class="relative cursor-pointer inline-flex items-center px-2 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-r-md hover:bg-gray-50 disabled:opacity-50 disabled:cursor-not-allowed"
        >
          <lucide-icon [img]="ChevronRightIcon" [size]="20"></lucide-icon>
        </button>
      </nav>
    </div>
  </div>
</div>
